@model MusicStore.Models.Song

@{
    ViewData["Title"] = "Add/Edit Song";
    ViewBag.ListAlbums = new SelectList(ViewBag.ListAlbums, "ID", "Name");
}

<form asp-action="CreateEditByAlbumId" class="form-horizontal">
    @{ await Html.RenderPartialAsync("CreateEditPartial", Model); }
</form>