@model Genre

@{
    ViewData["Title"] = "View Genre";
}

<h1>@Model.Label</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        Albums
    </div>
    <div class="panel-body">
        @if(Model.Albums != null && Model.Albums.Count > 0)
        {
            await Html.RenderPartialAsync("AlbumsPartial", Model.Albums.OrderBy(a => a.YearRelease));
        }
        else
        {
            <p>No albums in this genre!</p>
        }

    </div>
</div>

