@model MusicStore.Models.Album
@{
    ViewData["Title"] = "Create / Edit Album";
    ViewBag.ListGenres = new SelectList(ViewBag.ListGenres, "ID", "Label");
    ViewBag.ListArtists = new SelectList(ViewBag.ListArtists, "ID", "Name");
}

<form asp-action="CreateEdit" class="form-horizontal">
    @{await Html.RenderPartialAsync("CreateEditPartial", Model);}
</form>